<section class="about" id="about">
    <div class="about__img">
        <img src="./img/aboutImg.jpg" srcset="./img/aboutImg@2x.jpg 2x,
             ./img/aboutImg@3x.jpg 3x" alt="About"/>
    </div>
    <div class="about__content">
        <div class="about__title">A creative digital agency that's transforming brands <span class="about__icon"></span></div>
        <p class="about__text">We look more like a modern management consultancy that’s solving major problems for businesses. An integrated partner for strategy, web experience, lead generation, and even culture.</p>
        <a href="" class="about__link">See work</a>
    </div>
    <div class="about__name">
        <span class="about__background">About</span>
    </div>
</section>