<section class="culture wrapper">
    <div class="culture__name">
        <span class="culture__background">Our tribe</span>
    </div>
    <div class="culture__content">
        <div class="culture__title">Live a life's work <span class="culture__icon"></span></div>
        <p class="culture__text">We believe the best brands are a reflection of their culture, and are not afraid to show it.</p>
        <a href="" class="culture__link">Learn about our culture</a>
    </div>
    <div class="culture__gallery">
        <div class="culture__item leftSide">
            <img src="./img/galleryLeftTop.jpg" srcset="./img/galleryLeftTop@2x.jpg 2x,
             ./img/galleryLeftTop@3x.jpg 3x" class="culture__img" alt="Gallery Image"/>
            <img src="./img/galleryLeftBottom.jpg" srcset="./img/galleryLeftBottom@2x.jpg 2x,
             ./img/galleryLeftBottom@3x.jpg 3x" class="culture__img" alt="Gallery Image"/>
        </div>
        <div class="culture__item rightSide">
            <img src="./img/galleryRightTop.jpg" srcset="./img/galleryRightTop@2x.jpg 2x,
             ./img/galleryRightTop@3x.jpg 3x" class="culture__img" alt="Gallery Image"/>
            <img src="./img/galleryRightBottom.jpg" srcset="./img/galleryRightBottom@2x.jpg 2x,
             ./img/galleryRightBottom@3x.jpg 3x" class="culture__img" alt="Gallery Image"/></div>
        </div>

</section>