<footer class="footer">
    <div class="footer__form">
        <form action="" class="form" method="post">
            <div class="form__title">Say hello to Alex, our director of new partnerships</div>
            <input type="text" name="name" class="form__field" placeholder="Name">
            <input type="email" name="email" class="form__field" placeholder="Email">
            <textarea name="message" cols="30" rows="5" class="form__field" placeholder="Message"></textarea>
            <input type="submit" class="form__btn" value="Send it over">
        </form>
    </div>
    <div class="footer__contact">
        <div class="footer__avatar"></div>
        <div class="footer__address">
            <div class="footer__name">Mabbly<span class="footer__icon"></span></div>
            <p class="footer__field">E. hello@mabbly.com</p>
            <p class="footer__field">P. 312 448 7473</p>
            <p class="footer__field">A. 220 N Aberdeen St, Suite, 200 Chicago, IL 60607</p>
            <div class="footer__social">
                <a href="" class="footer__link">
                    <img src="./img/twitter.svg" alt="Twitter"/>
                </a>
                <a href="" class="footer__link">
                    <img src="./img/fb.svg" alt="Facebook"/>
                </a>
                <a href="" class="footer__link">
                    <img src="./img/instagram.svg" alt="Instagram"/>
                </a>
                <a href="" class="footer__link">
                    <img src="./img/in.svg" alt="LinkedIn"/>
                </a>
            </div>
        </div>
    </div>
</footer>



