<header class="header">
        <a href="" class="header__logo">
            Mabbly.
        </a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="" class="navigation__link">Work</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link">What we do</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link">Culture</a>
                </li>
                <li class="navigation__item">
                    <a href="" class="navigation__link">Connect</a>
                </li>
            </ul>
        </nav>
        <div class="header__menuBtn js-menuOpen">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
</header>
