<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a href="" class="menu__link">Work</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">What we do</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">Culture</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">Connect</a>
        </li>
    </ul>
    <div class="menu__closeBtn js-closeMenu">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    </div>
</nav>