<section class="partners wrapper">
    <div class="partners__item">
        <img src="./img/forbes.png" srcset="./img/forbes@2x.png 2x,
             ./img/forbes@3x.png 3x" alt="Forbes"/>
    </div>
    <div class="partners__item">
        <img src="./img/entrepreneur.png" srcset="./img/entrepreneur@2x.png 2x,
             ./img/entrepreneur@3x.png 3x" alt="Entrepreneur"/>
    </div>
    <div class="partners__item">
        <img src="./img/fastcompany.svg" alt="Fastcompany"/>
    </div>
</section>