<section class="projects">
    <div class="projects__wrapper">
        <div class="projects__item">
            <a href="" class="project">
                <img src="./img/firstProject.jpg" srcset="./img/firstProject@2x.jpg 2x,
             ./img/firstProject@3x.jpg 3x" class="project__img" alt="FirstProject"/>
                <div class="project__info">
                    <div class="project__name">Projects title two rows</div>
                    <p class="project__description">Digital is just the platform. We take a human-first approach to helping businesses </p>
                </div>
            </a>
        </div>
        <div class="projects__item">
            <a href="" class="project">
                <img src="./img/secondProject.jpg" srcset="./img/secondProject@2x.jpg 2x,
             ./img/secondProject@3x.jpg 3x" class="project__img" alt="SecondProject"/>
                <div class="project__info">
                    <div class="project__name">Projects title</div>
                    <p class="project__description">Digital is just the platform. We take a human-first approach to helping businesses</p>
                </div>
            </a>
            <a href="" class="project">
                <img src="./img/thirdProject.jpg" srcset="./img/thirdProject@2x.jpg 2x,
             ./img/thirdProject@3x.jpg 3x" class="project__img" alt="ThirdProject"/>
                <div class="project__info">
                    <div class="project__name">Projects title</div>
                    <p class="project__description">Digital is just the platform. We take a human-first approach to helping businesses</p>
                </div>
            </a>
        </div>
    </div>
    <a href="" class="projects__link">See all work</a>
</section>