<section class="work">
    <div class="work__inner">
        <div class="work__title">Love the work you do.</div>
        <p class="work__note">We are Chicago's premier digital agency. Our life's work is connecting people who share common beliefs.</p>
        <a href="" class="work__btn">Play video</a>
        <img src="./img/path.png" srcset="./img/path@2x.png 2x,
             ./img/path@3x.png 3x" class="work__bg">
    </div>
    <div class="work__arrow js-scroll" data-block="#about">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
</section>