.about {
  margin:120px 0 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  &__img {
    width: 50%;
    @media screen and (max-width: 1440px){
      width: 35%;
    }
    @media screen and (max-width: 1200px){
      width: 40%;
    }
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  &__content {
    width: 21%;
    @media screen and (max-width: 1440px){
      width: 30%;
      margin-left: 30px;
    }
    @media screen and (max-width: 1200px){
      width: 55%;
    }
    @media screen and (max-width: 768px){
      width: 95%;
      margin:0 auto;
      text-align: center;
    }
  }
  &__name {
    width: 25%;
    @media screen and (max-width: 960px){
      display: none;
    }
  }
  &__title {
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    color: $title-color;
    @media screen and (max-width: 640px){
      font-size: 30px;
      line-height:45px;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    background: url("../img/redDot.svg") no-repeat;
    margin-left: 2px;
    margin-bottom: 13px;
  }
  &__text {
    flex: 20;
    line-height: 36px;
    font-weight: 300;
    color: $title-color;
    opacity: 0.4;
    margin:53px 0;
  }
  &__link {
    font-size: 12px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: $title-color;
    text-transform: uppercase;
    text-decoration: none;
    &:after {
      content: '';
      display: block;
      width:70px;
      height: 1px;
      background: $title-color;
      margin: 3px 0 0;
      transition-duration: 0.3s;
      @media screen and (max-width: 768px){
        margin:3px auto 0;
      }
    }
    &:hover {
      &:after {
        background: transparent;
      }
    }
  }
  &__background {
    display: block;
    font-size: 144px;
    line-height: 150px;
    font-weight: 900;
    transform: rotate(-90deg);
    color: #f1f6f9;
    @media screen and (max-width: 1200px){
      font-size: 120px;
    }
  }
}