.header {
  padding:65px 80px 0;
  height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: $mainSection-bg;
  @media screen and (max-width: 960px){
    padding-left: 30px;
  }
  &__logo {
    font-weight: 900;
    color: $main-bg;
    font-size:25px;
    line-height: 28px;
    text-decoration: none;
    letter-spacing: 1.5px;
  }
  &__menuBtn {
    display: none;
    position: fixed;
    top: 73px;
    right: 30px;
    color: #E57F73;
    z-index: 100;
    @media screen and (max-width: 960px){
      display: block;
    }
  }
}