.sponsor {
  width: 80%;
  margin:88px auto 0;
  background: #f4f8fb;
  display: flex;
  justify-content:center;
  align-items: center;
  padding:120px 0;
  @media screen and (max-width: 960px){
    flex-wrap: wrap;
  }
  &__img {
    width: 30%;
    text-align: right;
    @media screen and (max-width: 960px){
      width: 100%;
      text-align: center;
    }
  }
  &__title {
    width: 70%;
    font-size: 48px;
    line-height: 65px;
    font-weight: 700;
    color: $title-color;
    margin-left: 51px;
    @media screen and (max-width: 960px){
      width: 85%;
      text-align: center;
      margin-left: 0;
      margin-top: 30px;
    }
    @media screen and (max-width: 640px){
      width: 95%;
      font-size: 35px;
      line-height: 50px;
    }
  }
}